.lg_hd {
  position: sticky;
  top: 0;
  width: 100%;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  object-position: left;
  display: inline-flex;
}
.col2 {
  width: 10%;
  margin-left: 50px;
  height: auto;
}
.create {
  border: 1px solid grey;
  padding: 5px;
  margin-top: 5px;
  width: 100px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: none;
  cursor: pointer;
}

.create:hover {
  background-color: rgb(183, 228, 183);
}
