.create {
  border: 1px solid grey;
  padding: 5px;
  margin-top: 5px;
  width: 100px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: none;
  cursor: pointer;
}

.create:hover {
  background-color: rgb(183, 228, 183);
}
